NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
WHATSAPP_VERIFY_TOKEN=
WHATSAPP_TO_NUMBER=62895800123388
WHATSAPP_ACCESS_TOKEN=
WHATSAPP_PHONE_NUMBER_ID=
WHATSAPP_TEMPLATE_LOAN_SUCCESS=
WHATSAPP_TEMPLATE_LOAN_REMINDER_H1=
WHATSAPP_TEMPLATE_LOAN_DUE_TODAY=
CRON_SECRET=
